# Arquivos do VS Code
.vscode/
*.code-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log e de ambiente virtual Python
*.log
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos gerados automaticamente pelo sistema
*.bak
*.tmp

# Pastas ocultas do Git
.git/
